<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.artem.reelsaver.native"
        version="1.4.0">
  <name>ReelSaverNative</name>
  <description>Native Android bridge for resolving Instagram Reel media URLs from public pages and saving MP4 files.</description>
  <license>MIT</license>
  <keywords>gdevelop,cordova,android,reels,download</keywords>

  <js-module src="www/ReelSaverNative.js" name="ReelSaverNative">
    <clobbers target="ReelSaverNative" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ReelSaverNative">
        <param name="android-package" value="com.artem.reelsaver.ReelSaverNative" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*/application/activity">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </config-file>

    <source-file src="src/android/ReelSaverNative.java" target-dir="src/com/artem/reelsaver" />
  </platform>
</plugin>
